@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8b4d9;
}

.App {
  text-align: center;
}
.hiker-image,
.moonman {
  height: 57vmin;
  margin-top: 30px;
}
.App .header-container {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 50px;
}
.hiker-image-container {
  position: relative;
}
.moonman {
  position: relative;
  top: -20px;
  transform: rotate(-10deg);
}
.label {
  color: #9061f9;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  position: relative;
}

.section-1,
.section-2 {
  color: rgba(255, 0, 255);
  text-align: left;
  width: 700px;
  margin: 65px auto;
  font-size: 17px;
  padding: 20px 60px;
  border-radius: 10px;
  position: relative;
  left: -20px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 20px rgba(255, 0, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

footer {
  display: flex;
  justify-content: center;
  color: #5521b5;
}
a {
  text-decoration: none;

  color: rgba(255, 0, 255);
  text-shadow: 1px 1px 3px white;
}
a:hover {
  color: rgb(255, 160, 77);
}
