@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f8b4d9;
  overflow: hidden;
}

.App {
  text-align: center;
}
.hiker-image,
.moonman {
  height: 57vmin;
  margin-top: 30px;
}
.App .header-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.hiker-image-container {
  position: relative;
  left: 100px;
}
.moonman {
  position: relative;
  right: 110px;
  top: -20px;
  transform: rotate(-10deg);
}
.label {
  color: #9061f9;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-transform: capitalize;
  position: relative;
}

.Definitions .text-audio {
  color: rgba(255, 0, 255);
  text-align: left;
  width: 120%;
  margin: 80px auto;
  font-size: 17px;
  padding: 20px 60px;
  border-radius: 10px;
  position: relative;
  left: -70px;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 4px 4px 20px rgba(255, 0, 255, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
