.Dictionary h1 {
  font-size: 67px;
  margin-top: 30px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  background-image: linear-gradient(
    97deg,
    rgba(87, 51, 83, 1) 23%,
    rgba(246, 91, 78, 1) 59%,
    rgba(255, 186, 124, 1) 80%
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 1s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 40% 30%;
  }
  100% {
    background-position: 60% 50%;
  }
}
.Dictionary input {
  width: 330px;
  padding: 10px 13px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 5px;
  color: #ff9d3d;
}

.Dictionary input::placeholder {
  color: #f0dada;
  font-size: 16px;
}
.Dictionary input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.Dictionary i.search-icon {
  color: #f0dada;
  font-size: 16px;
  position: relative;
  left: -33px;
  top: 3px;
}
