.Dictionary h1 {
  font-size: 64px;
  margin-top: 60px;
  margin-left: -40px;
  font-family: "Roboto Slab", serif;
  letter-spacing: 1px;
  background-image: linear-gradient(
    97deg,
    #5521b5 23%,
    rgba(246, 91, 78, 1) 59%,
    rgb(255, 160, 77) 80%
  );
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 1s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 40% 30%;
  }
  100% {
    background-position: 60% 50%;
  }
}
.Dictionary input {
  width: 520px;
  min-width: 100%;
  padding: 10px 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-top: 5px;
  margin-left: -20px;
  color: rgba(255, 0, 255);
}

.Dictionary input::placeholder {
  color: #f689c549;
  font-size: 16px;
}
.Dictionary input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.Dictionary i.search-icon {
  color: #f689c549;
  font-size: 16px;
  position: relative;
  left: -33px;
}
.top-word {
  font-size: 25px;
}
footer {
  display: flex;
  justify-content: center;
  color: #5521b5;
}
a {
  text-decoration: none;

  color: rgba(255, 0, 255);
  text-shadow: 1px 1px 3px white;
}
a:hover {
  color: rgb(255, 160, 77);
}
