footer {
  display: flex;
  justify-content: center;
  color: #5521b5;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: rgba(255, 0, 255);
  text-shadow: 1px 1px 3px white;
}
a:hover {
  color: rgb(255, 160, 77);
}
