.Photos {
  padding: 30px 130px;
  margin: 0;
}
.Photos img {
  margin: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.Photos img:hover {
  transform: scale(1.03) rotate(8deg);
  filter: grayscale(0%);
}
.img-container {
  display: flex;
  flex-wrap: wrap;
}
